
# Ignore everything inside .elasticbeanstalk
.elasticbeanstalk/*

# But do not ignore the config file
!.elasticbeanstalk/config.yml

.idea/

__pycache__/
*.pyc

venv/

*.log
db.sqlite3
/staticfiles/
