container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
      command: "echo \"from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'admin')\" | python manage.py shell"
      leader_only: true